@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..900;1,200..900&display=swap');

:root {
	--text-color: black;
}

header {
	display: flex;
	justify-content: space-between;

	padding: 1rem 1rem;

	font-size: 1.5rem;
	font-family: 'Atkinson Hyperlegible Next', sans-serif
	color: white; 
	background-color: rgb(205, 130, 215);

	a {
		color: white; 
		text-decoration: none;
		padding-inline: 15px;
	}

	> * {
		width: calc(100%/3);
	}

}

body {
	color: var(--text-color);

	margin: 0px;
	padding: 0px;
	background: #0d0d0d; 

	#main {
		padding: 20px;
	}
}
#vector-field {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%; 
	height: 100%;
	z-index: -1;
}

/* body { */
/* 	style */
/* }	 */